
.header-wrapper {
  background: hsl(220,80%,45%);
  background: linear-gradient(110deg, hsl(225,80%,40%), hsl(212,100%,40%));
  padding: 13px;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
  .header-wrapper {
    margin-top: 0;
  }
}

.header-title {
  position: relative;
  display: inline-block;
  transform: translate(43px, 1px);
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.header-logo-border {
  position: absolute;
  height: 32px;
  width: 32px;
  outline: 2px solid white;
  transform: translate(-5px, -5px);
}

.header-logo-img {
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(3px, 4px);
}

.interval-picker-wrapper {
  margin-left: auto;
  margin-top: 3px;
  font-size: 12px;
  color: hsl(0,0%,80%);
}

.interval-time-display {
  text-decoration: underline;
  cursor: pointer;
  color: hsl(0,0%,80%);
}

.post-list-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 30px;
  background-color: hsl(220,30%,97%);
  min-height: 100vh;
  box-sizing: border-box;
}

.list-item-container {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-areas:
    "list-item-index list-item-title"
    "............... list-item-details";
  grid-gap: 5px;
  padding-right: 1.5em;
}

.list-item-index {
  grid-area: list-item-index;
  text-align: right;
  color: hsl(0,0%,40%);
  margin-right: 5px;
}

.list-item-title {
  grid-area: list-item-title;
}

a.post-title {
  color: hsl(0, 0%, 5%);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.25px;
}

a.post-title:visited {
  color: hsl(0,0%,40%);
}

.post-url, a.post-url {
  color: hsl(0, 0%, 40%);
  font-weight: 400;
  margin-right: 4px;
  text-decoration: none;
  font-size: 14px;
}

.post-details, a.post-details {
  color: hsl(0, 0%, 40%);
  font-weight: 400;
  margin-right: 4px;
  text-decoration: none;
}

a.post-details:hover {
  text-decoration: underline;
}

.list-item-details {
  grid-area: list-item-details;
  margin-bottom: 12px;
  font-size: 14px;
}

.settings-container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 60px;
  background-color: hsl(220,30%,97%);
  min-height: 50vh;
}

.settings-row {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 30% 15%;
  grid-template-rows: 70px auto;
  grid-template-areas:
  "settings-interval settings-offset settings-am-pm"
  "settings-submit ... ...";
}

.settings-interval {
  grid-area: settings-interval;
}

.settings-offset {
  grid-area: settings-offset;
}

.settings-am-pm {
  grid-area: settings-am-pm;
}

.settings-submit {
  grid-area: settings-submit;
  padding-top: 10px;
}

.settings-select {
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
}

.not-found-container {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px;
  padding-left: 20vw;
  padding-right: 20vw;
  margin-bottom: 60px;
  background-color: hsl(220,30%,97%);
  min-height: 25vh;
}

.footer-container {
  font-size: 12px;
  color: hsl(0, 0%, 75%);
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.footer-container a {
  color: hsl(0, 0%, 75%);
}